<div class="row">
    {{#each notes}}
    <div id="output" class="col-md-3 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{titulo}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <p>{{descripcion}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block w-100" type="submit">
                        Borrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto w-25">
        <div class="card-body">
            <p class="lead">No hay notas aun...</p>
            <a href="/notes/add" class="btn btn-success btn-block w-100">Crea Una!</a>
        </div>
    </div>
    {{/each}}
</div>